{% load static %}

{% for product in products %}
<div class="col d-flex product-block" data-product-element>
    <div class="text-decoration-none w-100">
        <div class="border rounded-3 overflow-hidden shadow-sm bg-white position-relative card-product">

            <div class="product-block__image">
                {% if product.sticker_type_fk %}
                <div class="product-block__tag product-block__tag_top"
                    style="--tag-color: {{ product.sticker_type_fk.color }};">
                    {{ product.sticker_type_fk.name }}
                </div>
                {% endif %}
                {% if product.preview_fk %}
                <a href="{% url 'product_detail' product.pk %}?tg=1" class="border-0 product-card">
                    <img class="product-preview" src="{{ product.preview_fk.file.url }}" alt="{{ product.name }}">
                </a>

                {% else %}
                <div class="bg-light no-image">
                    <span class="text-muted">Нет фото</span>
                </div>
                {% endif %}
            </div>

            <div class="p-3 card-body">

                <h6 class="mb-2 underline-gap card__name ">
                    <a href="{% url 'product_detail' product.pk %}?tg=1">
                        <span>{{ product.name }}</span>
                    </a>
                </h6>

                <p class="text-secondary small mb-3 text-gray-600 short-description text-clamp-2"
                    style="line-height: 1.4;">
                    {{ product.short_description|safe }}
                </p>

                <div class="d-flex align-items-center justify-content-between">

                    <div>
                        <span class="fw-bolder fs-5 text-dark price-product">
                            {{ product.price|safe }}
                        </span>
                        {% if product.price_suffix %}
                        <span class="text-muted fs-6">{{ product.price_suffix }}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex align-items-center gap-2">

                        {% if product.discount %}
                        <span class="badge bg-warning text-dark fw-bold px-2 py-1">
                            {{ product.discount }} [50%]
                        </span>
                        {% endif %}

                        <a class="border-0" href="{{ product.username_tg }}">
                            <img src="{% static '/image/Telegram_logo.svg' %}" alt="Telegram" class="tg-link">
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}